* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

button {
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #c7c4c4;
}

li.sold-out {
  color: #888;
}

li.sold-out img {
  filter: grayscale(100%);
}
